/* Estilos dos botões */
button {
    margin: 10px;
  }
  /* Estilo da Seção da Barra de Pesquisa e Notificações */
  .shadow {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  .bg-light {
    background-color: #f8f9fa !important;
  }
  .rounded {
    border-radius: 0.25rem;
  }
  /* Estilo do Container Principal */
  .main-container {
    flex-grow: 1; /* Faz o container ocupar todo o espaço disponível */
    padding-left: 15px; /* Adiciona espaço entre a sidebar e o container */
  }
  .admin-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .table-responsive {
    background-color: #fff;
    border-radius: 0.25rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  .thead-light th {
    background-color: #f8f9fa;
    font-weight: bold;
  }
  /* Estilos do texto das ações */
  .text-primary {
    color: #007bff !important;
  }
  .text-danger {
    color: #dc3545 !important;
  }